<!DOCTYPE html>
<html  lang="en">

<head th:replace="admin/fragments :: html_head">
</head>

<body class="sb-nav-fixed">
<nav th:replace="admin/fragments :: html_nav" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

</nav>

<div id="layoutSidenav">
  <div th:replace="admin/fragments :: html_menu" id="layoutSidenav_nav">

  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách các dịch vụ</h1>
        <div class="card mb-4">
          <div class="card-header">
            <div th:if="${msg == 'success'}" class="alert alert-success">
              <strong>Thành công!</strong>
            </div>
            <div th:if="${msg == 'error'}" class="alert alert-danger">
              <strong>Dịch vụ đã có khách hàng Booking. Không thể xóa !</strong>
            </div>
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModalAdd">
              Thêm mới
            </button>
            <!-- Modal Add-->
            <div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelll">Thêm mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form th:action="@{/admin/category-add}" method="post" enctype="multipart/form-data">

                      <div class="">
                        <label for="addname"
                               class="col-form-label">Tên dịch vụ:</label>
                        <input type="text" class="form-control"
                               id="addname" name="name" required>
                      </div>
                      <div class="">
                        <label for="addcost"
                               class="col-form-label">Giá tiền:</label>
                        <input type="text" class="form-control"
                               id="addcost" name="price" required>
                      </div>
                      <div class="">
                        <label for="addcost"
                               class="col-form-label">Chọn ảnh:</label>
                        <input type="file" class="form-control"
                               id="addcost" name="file" required>
                      </div>
                      <div class="">
                        <label for="editor" class="col-form-label">Mô tả:</label>
                        <textarea name="description" id="editor" cols="30"
                                  rows="30"></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save </button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <!-- Modal Add-->
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
              <tr style="background-color: gray !important;">
                <th>STT</th>
                <th>Tên</th>
                <th>Ảnh</th>
                <th>Mô tả</th>
                <th>Giá tiền</th>
                <th>Hành động</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Ảnh</th>
                <th>Mô tả</th>
                <th>Giá tiền</th>
                <th>Hành động</th>
              </tr>
              </tfoot>
              <tbody>
              <input type="hidden" th:value="${list.size()}" id="dodai" />
              <th:block th:each="category : ${list}">
                <tr>
                  <td th:text="${category.id}"></td>
                  <td th:text="${category.name}"></td>
                  <td>
                    <img height="200px" width="200px" th:if="${category.image}" th:src="${'/resources/uploads/'}+${category.image}">
                  </td>
                  <td th:utext="${category.description}"></td>
                  <td th:text="${category.price} + ' VNĐ '"></td>
                  <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#exampleModal'+${category.id}">
                      Sửa
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#idModelDel'+${category.id}" >
                      Xóa
                    </button>
                    <div class="modal fade" th:id="'idModelDel' + ${category.id}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Dịch vụ : <span th:text="${category.name}"></span>
                            <form th:action="@{/admin/category-delete}" method="post">
                              <input type="hidden" class="form-control" id="id" name="id" th:value="${category.id}">
                              <div class="modal-footer" style="margin-top: 20px">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-danger">Xóa</button>

                              </div>
                            </form>
                          </div>

                        </div>
                      </div>
                    </div>
                  </td>

                </tr>




                <!-- Modal Update-->
                <div class="modal fade" th:id="'exampleModal'+${category.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog ">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabell">Cập nhập</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form enctype="multipart/form-data" th:action="@{/admin/category-update}" method="post">
                          <input type="hidden" th:value="${category.id}" name="id">

                          <div class="">
                            <label for="name"
                                   class="col-form-label">Tên dịch vụ:</label>
                            <input type="text" class="form-control"
                                   id="name" name="name" th:value="${category.name}">
                          </div>
                          <div class="">
                            <label for="cost"
                                   class="col-form-label">Giá tiền:</label>
                            <input type="text" class="form-control"
                                   id="cost" name="price" th:value="${category.price}">
                          </div>
                          <div class="">
                            <label for="addcost"
                                   class="col-form-label">Chọn ảnh:</label>
                            <input type="file" class="form-control"
                                   id="addcost" name="file" >
                          </div>
                          <div class="">
                            <label for="editor" class="col-form-label">Mô tả:</label>
                            <textarea name="description" th:id="'editor'+${category.id}" cols="30"
                                      rows="30" th:text="${category.description}"></textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Modal Update-->

              </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>

    <script>

      ClassicEditor.create(document.querySelector('#editor')).then(eidt => {
        console.log("da" + eidt);
      })
              .catch(error => {
                console.error(error);
              });

    </script>
    <script>

      var dodai = document.getElementById("dodai").value;
      var a = parseInt(dodai);
      for(var i = 1;i<=a+10;i++){
        var name = "#editor"  + i
        ClassicEditor.create(document.querySelector(name)).then(eidt => {
          console.log("da" + eidt);
        })
                .catch(error => {
                  console.error(error);
                });
      }


    </script>
    <footer th:replace="admin/fragments :: footer" class="py-4 bg-light mt-auto">

    </footer>
  </div>
</div>

<script src="js/JQuery3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>

</html>